.swiper-container {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .heroContent {
    padding: 2rem;
  }
  
  .heroContent h3 {
    color: #2b2a2a;
    margin-bottom: 1.5rem;
  }
  
  .heroContent h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .heroContent h1 .blueText {
    color: #2aa7ff;
  }
  
  .heroContent p {
    color: #5c6169;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }
  
  .heroContent button {
    background-color: #2aa7ff;
    color: white;
  }
  
  .heroImage {
    margin-top: 2rem;
    max-width: 100%;
  }
  
  @media (max-width: 768px) {
    .heroContent h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  
    .heroContent h1 {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
    }
  }
  