.container {
    background: var(--color-section);
    margin-bottom: 12px;
  }
  
  .stackWrapper {
    padding: 64px;
    margin-top: -40px;
    position: relative;
    z-index: 99;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  }
  
  .stackItem {
    margin-bottom: 20px;
  }