.cardContainer {
    border-radius: 2px;
    background-color: #fff;
    padding: 16px;
  }
  
  @media (max-width: 768px) {
    .cardContainer {
      padding: 12px;
    }
  }
  
  @media (max-width: 600px) {
    .cardContainer {
      padding: 8px;
    }
  }